<form>
    <div class="searchContainer">
        <div class="searchGrid">
            {{#each items}}
                <div id="{{this.data._id}}" class="searchInternalGrid">
                    <img src={{this.data.img}} class="selectorImage">
                    <h3>{{this.data.name}}</h3>
                </div>
            {{/each}}
        </div>
        <input type="text" style="height: 10%">
    </div>
</form>