<form>
    <div class="container">
        <div class="paperDollImage">
            {{#each itemTypesArray}}
                <div id="{{this}}" class="{{leftOrRight @index}}">
                    <h3>{{this}}</h3>
                    <div class="flexrow">
                        {{#times 4}}
                            <button class="addBox">+</button>
                        {{/times}}
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
    <button type="submit">Submit</button>
</form>
