@mixin PersonalSettingsApp($name: '.personalSettingsApp') {
  #{$name} {
    &__container {
      height: 550px;
      width: 300px;
    }

    &__background-container {
      margin-top: 16px;
    }

    &__category-title {
      font-size: 16px;
      border-bottom: 1px solid black;
    }
  }
}

@include PersonalSettingsApp();